[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
yapf = "==0.22.0"

[packages]
certbot = "*"
"urllib3" = "*"
six = "*"
certifi = "*"

[requires]
python_version = "2.7"
